Repository DcentWallet/info, pull requests merged in 2024-09, with the labels that each got.

#314 #313: 지원 코인 업데이트
  supported_coin.json
Labels: Add Token Support

#324 #323: 지원 코인 업데이트 및 Core, Para 체인이 누락된 부분 업데이트
  supported_coin.json
Labels: Add Token Support

#326 #323: CORE 테스트넷 제거
  supported_coin.json
Labels: bug

#330 #329 Swap X 상용 릴리즈
  dapp/dapp_list_v2.json
  swap-exchange/json/service_info.json
Labels: feature
